<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>ULTRAKILL Time Tracker</title>
  <link rel="shortcut icon" href="/assets/img/UKicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/UKicon.png" alt="face logo" /></a>
    <h1 id="title">ULTRAKILL Level Time Tracker</h1>
    <div class="navlink"><a href="/account">Account</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>
  <h3 class="messageHeader"><span id="errorMessage"></span></h3>

  <section id="app">

  </section>
  <script src="/assets/appBundle.js"></script>
</body>

</html>